.idea/
conf/conf.json
conf/app.conf
tmp/
*.exe
*.log
/cgin
/conf/*.env

# vendor目录还是添加到版本库中吧
# 忽略vendor目录下除了vendor.json以外的文件
# /vendor/*
# !/vendor/vendor.json
static/web_front/test-admin/node_modules
static/web_front/test-admin/public
storage/backup/